@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

#header {
    position: relative;
}

.topcorner ul {
    position: absolute;
    top: 10px;
    right: 10px;
}

    .topcorner ul li {
        display: inline;
        padding-left: 20px;
    }

/*START*/
#primary_nav_wrap {
    margin: 10px -10px -10px -10px;
    position: relative;
    z-index: 9999;
}

    #primary_nav_wrap ul {
        list-style: none;
        position: relative;
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #333;
    }

        #primary_nav_wrap ul a {
            display: block;
            color: #fff;
            text-decoration: none;
            /*font-weight:700;*/
            /*font-size:12px;*/
            line-height: 32px;
            padding: 0 15px;
            /*font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif*/
        }

        #primary_nav_wrap ul li {
            position: relative;
            float: left;
            margin: 0;
            padding: 0;
        }

            #primary_nav_wrap ul li .active {
                background: #2c95dd;
            }

            #primary_nav_wrap ul li:hover {
                background: #696969;
            }

        #primary_nav_wrap ul ul {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            background: #333;
            padding: 0;
            width: 200px;
        }

            #primary_nav_wrap ul ul li {
                float: none;
                width: 200px;
            }

            #primary_nav_wrap ul ul a {
                line-height: 120%;
                padding: 10px 15px;
            }

            #primary_nav_wrap ul ul ul {
                top: 0;
                left: 100%;
            }

        #primary_nav_wrap ul li:hover > ul {
            display: block;
        }
/*END*/

#filters {
}

    #filters div.checkbox {
        padding: 0px;
        margin: 0px;
    }

    #filters label {
        font-size: 90%;
    }

    #filters input {
        padding: 7px;
    }

        #filters input[type=checkbox] {
            padding: 2px;
        }

#FilterLimit {
    padding: 1px;
    font-size: 80%;
}

.statusblank {
    height: 10px;
    width: 10px;
}

.certifiedicon {
    display: none;
}

.hasicon {
    position: relative;
}

    .hasicon .certifiedicon {
        display: block;
        position: absolute;
        top: -12px;
        right: -12px;
        width: 20px;
        height: 20px;
    }

.statusoval {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    padding: 0px;
    margin: 0px;
    border-width: 5px;
    border-style: solid;
    -moz-border-radius: 5px / 5px;
    -webkit-border-radius: 5px / 5px;
    border-radius: 5px;
    overflow: visible;
    text-align: center;
    vertical-align: middle;
}

.statusovalsmall {
    position: relative;
    width: 12px;
    height: 12px;
    line-height: 12px;
    padding: 0px;
    margin: 0px;
    border-width: 3px;
    border-style: solid;
    -moz-border-radius: 3px / 3px;
    -webkit-border-radius: 3px / 3px;
    border-radius: 3px;
    display: inline-block;
    overflow: visible;
    text-align: center;
    vertical-align: middle;
}

.statusovallarge {
    width: 100px;
    height: 24px;
    line-height: 12px;
    padding: 0px;
    margin: 0px;
    border-width: 3px;
    border-style: solid;
    -moz-border-radius: 3px / 3px;
    -webkit-border-radius: 3px / 3px;
    border-radius: 3px;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

#exportlinks {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
}

    #exportlinks span {
        display: inline;
        vertical-align: top;
        font-weight: bold;
    }

#contactlink {
    position: absolute;
    top: 0px;
    right: 10px;
}



a.subnavlink {
    background-color: lightgray;
    color: black;
    padding: 3px;
    border-color: lightgray;
    border-width: 3px;
    border-style: solid;
    -moz-border-radius: 3px / 3px;
    -webkit-border-radius: 3px / 3px;
    border-radius: 3px;
}

a.subnavlinkactive {
    background-color: #2c95dd;
    color: white;
    padding: 3px;
    border-color: #2c95dd;
    border-width: 3px;
    border-style: solid;
    -moz-border-radius: 3px / 3px;
    -webkit-border-radius: 3px / 3px;
    border-radius: 3px;
}

#watermark {
    /*background-color:red;*/
    position: absolute;
    height: 600px;
    width: 800px;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.10;
    font-size: 15em;
    text-align: center;
    vertical-align: central;
    -ms-transform: rotate(-45deg); /* IE9 */
    -moz-transform: rotate(-45deg); /* FF3.5/3.6 */
    -o-transform: rotate(-45deg); /* Opera 10.5 */
    -webkit-transform: rotate(-45deg); /* Saf3.1+ */
    transform: rotate(-45deg); /* Newer browsers */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    z-index: 999999;
}
